%section#main.c-landing-page.u-lang--en
  %h1.heading-large Mynegai Prisiau Tai y DU

  %p
    Defnyddiwch y teclyn chwilio i weld tueddiadau prisiau tai yn y DU:

  %p.c-cta
    = link_to('chwilio mynegai prisiau tai y DU', browse_path(lang: 'cy'), class: 'c-search-tool')

  %h2.heading-medium
    Mynegai cyfredol

  .c-current-figures.panel.panel-border-wide
    %p
      O
      %span.c-headline-figure.c-headline-figure__period
        = @view_state.period
      %span.c-headline-figure.c-headline-figure__average-price
        = number_to_currency( @view_state.average_price, locale: "en-GB", precision: 0 )
      yw pris tŷ cyfartalog yn y DU, ac mae’r mynegai yn sefyll ar
      %span.c-headline-figure.c-headline-figure__house-price-index
        = succeed "." do
          = @view_state.house_price_index
      Mae prisiau eiddo wedi cwympo gan
      %span.c-headline-figure.c-headline-figure__monthly-change
        = @view_state.percentage_monthly_change
      o’i gymharu â’r mis blaenorol, ac wedi codi gan
      %span.c-headline-figure.c-headline-figure__annual-change
        = @view_state.percentage_annual_change
      o’i gymharu â’r flwyddyn flaenorol.

  %h2.heading-medium
    Am y Mynegai Prisiau Tai

  %p
    Mae Mynegai Prisiau Tai y DU yn defnyddio data gwerthiannau tai o
    = succeed "," do
      = link_to "Gofrestrfa Tir EM", "//www.gov.uk/government/organisations/land-registry"
    = succeed "," do
      = link_to "Cofrestri’r Alban", "//www.ros.gov.uk/"
    a
    = link_to "Gwasanaethau Tir ac Eiddo Gogledd Iwerddon", "//www.finance-ni.gov.uk/land-property-services-lps"
    ac fe’i cyfrifir gan y
    = succeed "." do
      = link_to "Swyddfa Ystadegau Gwlado", "//ons.gov.uk"
    Mae’r mynegai’n defnyddio dull ystadegol, a elwir yn
    = succeed "," do
      = link_to "fodel atchweliad hedonig", "//www.ons.gov.uk/economy/inflationandpriceindices/methodologies/developmentofasingleofficialhousepriceindex"
    ar gyfer y ffynonellau data amrywiol ar brisiau a nodweddion eiddo i
    gynhyrchu amcangyfrifon o’r newid yn y prisiau tai ar gyfer pob cyfnod.
  %p
    Cyhoeddir y mynegai bob mis, gyda ffigurau Gogledd Iwerddon yn cael eu diweddaru bob
    chwarter.
  %p
    Cynghorir y gall nifer isel o drafodion gwerthu mewn rhai awdurdodau lleol arwain at
    anwadalrwydd yn yr amcangyfrifon ar y lefelau hyn. Dylid dadansoddi ardaloedd daearyddol
    gyda nifer isel o drafodion gwerthu yng nghyd-destun eu tueddiadau mwy hirdymor yn
    hytrach na chanolbwyntio ar symudiadau misol. Ceir rhagor o fanylion ar ein
    %a{ href: 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/' }
      tudalen cyfarwyddyd
    am ein data a’u hansawdd.
  %p
    Mae data hanesyddol o fewn y teclyn hwn yn ddata deilliedig. O dan Fynegai Prisiau Tai y
    DU, mae data ar gael o 1995 ar gyfer Cymru a Lloegr, o 2004 ar gyfer yr Alban ac o 2005 ar
    gyfer Gogledd Iwerddon. Mae ôl-gyfres hirach wedi deillio trwy ddefnyddio llwybr hanesyddol
    Mynegai Prisiau Tai y Swyddfa Ystadegau Gwladol i lunio cyfres sy’n mynd yn ôl i 1968.

  %h2.heading-medium
    Cymorth a chefnogaeth
  %p
    Ceir
    = link_to('canllaw defnyddwyr', '/app/doc/ukhpi-user-guide')
    ar gyfer y gwasanaeth hwn, a gallwch
    = succeed('.') do
      = link_to('ddarllen rhagor am ddata cysylltiedig â Mynegai Prisiau Tai y DU', '/app/doc/ukhpi')
    I gael rhagor o gymorth, anfonwch ebost atom.

  %h2.heading-medium
    Lawrlwytho Data’r Mynegai Prisiau Tai
  %p
    Gan ddefnyddio’r
    = link_to "teclyn chwilio", browse_path, class: ""
    gallwch nodi is-set benodol o ddata mynegai prisiau tai sydd
    o ddiddordeb ichi, ac yna ei lawrlwytho. Os hoffech lawrlwytho holl ddata Mynegai Prisiau
    Tai y DU ar ffurf wedi ei gwahanu ag atalnod, gweler
    = link_to "https://www.gov.uk/government/collections/uk-house-price-index-reports" do
      %strong
        tudalen adroddiadau Mynegai Prisiau Tai y DU.

  %h2.heading-medium
    Data Cysylltiedig Mynegai Prisiau Tai y DU

  %p
    Rydym yn cyhoeddi’r data hwn ar ffurf
    = succeed ',' do
      = link_to( 'data cysylltiedig', 'https://en.wikipedia.org/wiki/Linked_data' )
    gan anelu at
    = succeed "." do
      %a{ href: "http://5stardata.info/en/"} radd pum seren

  %p
    I roi cynnig ar eich
    %a{ href: "https://en.wikipedia.org/wiki/SPARQL"} ymholiadau
    eich hunain yn erbyn ein cyhoeddiadau data cysylltiedig,
    defnyddiwch
    = succeed '.' do
      %a{ href: "/app/qonsole"} y ffurflen ymholiad SPARQL
    Mae rhai ymholiadau enghreifftiol wedi eu
    cynnwys gyda’r ffurflen, a gallwch gynhyrchu allbwn mewn amrywiaeth o ffurfiau gwahanol.
  %p
    Os hoffech weld, a rhedeg, yr ymholiad SPARQL a ddefnyddir i gynhyrchu’r adroddiad a
    grëwyd yn y teclyn chwilio, defnyddiwch y botwm dangos ymholiad SPARQL.

  %h2.heading-medium
    Newidiadau i ddaearyddiaeth yr awdurdod lleol Ebrill 2020
  %p
    Gwneir newid i ddaearyddiaeth rhai o’r awdurdodau lleol yng nghyhoeddiad Chwefror 2020
    (dyddiad cyhoeddi 22 Ebrill 2020). Mae’r newidiadau yn unol â’r diweddariadau a roddwyd
    gan ONS Geography. Mae’r rhain yn cynnwys:
  %ul.list.list-bullet
    %li
      Bydd Bournemouth (E06000028), Christchurch (E07000048) a Poole (E06000029)
      yn uno i greu awdurdod lleol newydd &quot;Bournemouth, Christchurch a Poole&quot;
      (E06000058).
    %li
      Bydd Dwyrain Dorset (E07000049), Gogledd Dorset (E07000050), Purbeck
      (E07000051), Gorllewin Dorset (E07000052) a Weymouth a Portland (E07000053)
      yn uno i greu awdurdod lleol newydd &quot;Dorset&quot; (E06000059).
    %li
      Bydd Taunton Deane (E07000190) a Gorllewin Gwlad yr Haf (E07000191) yn uno i
      greu awdurdod lleol newydd &quot;Gorllewin Gwlad yr Haf a Taunton&quot; (E07000246).
    %li
      Bydd Forest Heath (E07000201) a St Edmundsbury (E07000204) yn uno i greu
      awdurdod lleol newydd &quot;Gorllewin Suffolk&quot; (E07000245).
    %li
      Bydd Arfordir Suffolk (E07000205) a Waveney (E07000206) yn uno i greu awdurdod
      lleol newydd &quot;Dwyrain Suffolk&quot; (E07000244).
    %li
      Bydd mân newid i ffin dosbarth awdurdod lleol ar gyfer Dinas Glasgow; bydd ei god
      daearyddiaeth yn newid o S12000046 i S12000049.
    %li
      Bydd mân newid i ffin dosbarth awdurdod lleol ar gyfer Gogledd Swydd Lanark; bydd
      ei god daearyddiaeth yn newid o S12000044 i S12000050.
  %p
    Yn dilyn hyn, yng nghyhoeddiad Ebrill 2020 (i’w gyhoeddi ar 17 Mehefin 2020) gwneir y
    newid canlynol:
  %ul.list.list-bullet
    %li
      Bydd Dyffryn Aylesbury (E07000004), Chiltern (E07000005), De Bucks (E07000006)
      a Wycombe (E07000007) yn uno i greu awdurdod lleol newydd &quot;Swydd Buckingham&quot;
      (E06000060).
  %p
    Mae manylion llawn yr ardaloedd daearyddol yr effeithir arnynt i’w gweld yn y cofnod
    newidiadau.
  %p
    Darperir cysylltau i ffynonellau eraill o ddata agored o dan y Drwydded Llywodraeth Agored
    (Y Swyddfa Ystadegau Gwladol) a’r Drwydded Data Agored (yr Arolwg Ordnans). Nid yw
    Cofrestrfa Tir EM yn gyfrifol am gynnwys neu ddibynadwyedd unrhyw wefannau cysylltiedig.

  %h2.heading-medium
    Manylion cysylltu
  %p
    Ebost
    %a{ href: 'mailto:data.services@landregistry.gov.uk' }
      data.services@landregistry.gov.uk
    %br
    Ffôn
    %a{ href: 'tel:+44-300-006-0478'}
      0300 006 0478
    %br
    %a{ href: 'https://help.landregistry.gov.uk/app/contactus_general/' }
      Ffurflen gysylltu