%h1 UK House Price Index

%p
  Here we briefly explain what the house price index is, and how it was calculated.
%p
  Current headline figure goes here
%p
  = link_to "find house price index data", explore_path, class: "btn btn-lg btn-primary"
%p.c-logos
  = image_tag( "lr_logo_221_80.png")
  = image_tag( "ros_logo.png" )
  = image_tag( "nisra_logo.gif" )
  = image_tag( "ons_logo.png" )
