%h1.heading-large UK House Price Index


%p
  The UK House Price Index (HPI) uses house sales data from
  = succeed "," do
    = link_to "Land Registry", "//www.gov.uk/government/organisations/land-registry"
  = succeed "," do
    = link_to "Registers of Scotland", "//www.ros.gov.uk/"
  and
  = link_to "Land and Property Services Northern Ireland", "//www.finance-ni.gov.uk/land-property-services-lps"
  and is calculated by the
  = succeed "." do
    = link_to "Office of National Statistics", "//ons.gov.uk"
  The index applies a statistical method, called a
  = succeed "," do
    = link_to "hedonic regression model", "//www.ons.gov.uk/economy/inflationandpriceindices/methodologies/developmentofasingleofficialhousepriceindex"
  to the various sources of data on property price and attributes
  to produce estimates of the change in house prices each period.

%p
  The index is published monthly, with Northern Ireland figures updated quarterly.

.c-current-figures.panel.panel-border-wide
  %p
    As of
    %span.c-headline-figure
      = @landing_state.period
    the average house price in the UK is
    %span.c-headline-figure
      = succeed "," do
        &pound;#{@landing_state.average_price}
    and the index stands at
    %span.c-headline-figure
      = succeed "." do
        = @landing_state.house_price_index
    Property prices have
    %span.c-headline-figure
      = @landing_state.percentage_monthly_change
    compared to the
    %span
      previous month,
    and
    %span.c-headline-figure
      = @landing_state.percentage_annual_change
    compared to the
    %span
      previous year.

%h2.heading-medium Search the UK House Price Index

%p
  Use this tool to find average sales house prices and monthly and annual changes
  by property type for a specified location and period of time.

%p.c-cta
  = link_to "search the house price index", explore_path, class: "c-search-tool"

%h2.heading-medium Download the data

%p
  Using the
  = link_to "search the house price index", explore_path, class: ""
  you can identify a specific subset of house price index data you're interested
  in, and then download it. Or you can use this link to
  = link_to "#todo" do
    = succeed "." do
      %strong download all of the data

.c-logos
  .col-lg-3.col-md-6.col-xs-12.text-center
    %p
      = link_to "//www.gov.uk/government/organisations/land-registry" do
        = image_tag( "lr_logo_221_80.png")
  .col-lg-3.col-md-6.col-xs-12.text-center
    %p
      = link_to "//www.ros.gov.uk/" do
        = image_tag( "ros_logo.png" )
  .col-lg-3.col-md-6.col-xs-12.text-center
    %p
      = link_to "//www.finance-ni.gov.uk/land-property-services-lps" do
        = image_tag( "nisra_logo.gif" )
  .col-lg-3.col-md-6.col-xs-12.text-center
    %p
      = link_to "//ons.gov.uk" do
        = image_tag( "ons_logo.png" )
