- prefs = @exploration_state.prefs
= form_tag( {controller: :exploration, action: :new}, method: "get", class: "c-preferences-form", id: "preferences" ) do
  .row
    .col-sm-12
      %ul.nav.nav-tabs.js-preferences
        %li.active
          %a{ href: "#location", data: {toggle: "tab"}}
            Location
        %li
          %a{ href: "#dates", data: {toggle: "tab"}}
            Dates
        %li
          %a{ href: "#indicators", data: {toggle: "tab"}}
            Statistics
    .col-sm-12
      .tab-content
        #location.tab-pane.active
          .row
            .col-sm-12.col-md-6
              .form-group
                %label.control-label{ for: "region" }
                  = t( "index.location" )
                - region = @exploration_state.preference( :region )
                - region_name = @exploration_state.lookup_region(region ).label
                %input.js-location-uri{ type: "hidden", name: "region", value: region}
                %input.form-control.js-location.typeahead{ type: "text", id: "region", value: region_name }
            .col-sm-12.col-md-6
              = image_tag( "United_Kingdom_1843.jpg", title: "Interactive map selector will go here" )
        #dates.tab-pane
          .row
            .col-sm-12.col-md-6
              .form-group
                %label.control-label{ for: "from" }
                  = t( "index.from" )
                  #fromdatepicker.input-group.date
                    %span.input-group-addon
                      %input{ type: "text", name: "from", value: @exploration_state.preference( :from )}
                      %span.fa.fa-calendar

            .col-sm-12.col-md-6
              .form-group
                %label.control-label{ for: "to" }
                  = t( "index.to" )
                  #todatepicker.input-group.date
                    %span.input-group-addon
                      %input{ type: "text", name: "to", value: @exploration_state.preference( :to )}
                      %span.fa.fa-calendar

        #indicators.tab-pane
          .row
            .col-sm-12
              %h3 Indicators
            .form-group
              - Aspects::INDICATORS.each do |ind|
                .col-xs-12.col-sm-6.col-md-3
                  %label.checkbox-inline
                    - name = ind[:root]
                    - visible = prefs.aspect_indicators.include?( name )
                    %input.js-aspect{ type: "checkbox", name: "ai[]", value: name, checked: visible }
                    = t( ind[:label] )

            .col-sm-12
              %h3 Data categories
            .form-group
              - Aspects::CATEGORIES.each do |cat|
                .col-xs-12.col-sm-6.col-md-3
                  %label.checkbox-inline
                    - name = cat[:root]
                    - visible = prefs.aspect_categories.include?( name )
                    %input.js-aspect{ type: "checkbox", name: "ac[]", value: name, checked: visible }
                    = t( cat[:label] )
