.js-reveal.reveal-block
  = t( "search_state.prompt" )
  %span.js-search-prompt

  %button.btn.btn-sm.btn-primary.js-reveal-button
    %i.fa
    %span.if-revealing
      = t( "search_state.revealing_button_caption" )
    %span.not-revealing
      = t( "search_state.reveal_button_caption" )

.js-preferences-form.hidden
  = render partial: "hpi_search_form_js"

.js-hidden
  = render partial: "hpi_search_form"
