%article.o-print-view
  %h2.o-heading--2
    = @view_state.headline_summary
    for
    = @view_state.locations_summary

  .o-print-view__data-table
    %table
      %thead
        %tr
          %th{ scope: 'col' }
            Date
          - @view_state.selected_locations.each do |loc|
            %th{ scope: 'col' }
              = loc.label
      %tbody
        - @view_state.query_results_rows.each do |row|
          %tr
            - row.each_with_index do |col, i|
              %td
                - if i.zero?
                  = col
                -else
                  = @view_state.format(col)

= render partial: 'common/print-on-dom-ready'
