.grid-row
  .column-full
    %article.c-compare
      %h1.o-heading--2
        = @view_state.headline_summary

      %p.c-compare__locations
        Between:
        %ul.c-compare__locations-list
        - @view_state.selected_locations.each do |location|
          %li.c-compare__location
            = location.label
            = link_to(@view_state.without_location(location)) do
              %i.fa.fa-times

      %table
        %thead
          %tr
            %th
            %th{ scope: 'col' }
              house price index
            %th{ scope: 'col' }
              average price
            %th{ scope: 'col' }
              \% monthly change
            %th{ scope: 'col' }
              \% yearly change
            %th{ scope: 'col' }
              volume
        %tbody
          - @view_state.statistic_indicator_choices.each do |choices|
            - statistic = choices.first
            - cells = choices.second
            %tr
              %th{ scope: 'row' }
                = t(statistic.label_key)
              - cells.each do |stat, indicator|
                %td.c-compare__selection
                  - if stat && @view_state.current_selection?(stat, indicator)
                    %i.fa.fa-check.c-compare__selection--current
                  - elsif stat
                    = link_to(@view_state.with_statistic(stat, indicator)) do
                      %i.fa.fa-square-o
