-# Partial for drawing the main presentation of a data view
- visible = data_view.visible?
%section.o-data-view
  %header
    %h3.o-heading--3
      = data_view.title
      %a{ href: data_view.add_remove_theme_link(!visible) }
        = visible ? 'hide' : 'reveal'

  - if visible
    .o-data-view__heading-group

      %p.o-heading--4.o-data-view__location
        For
        = succeed ',' do
          = data_view.selected_location_label

        = data_view.from_date.strftime('%b %Y')
        to
        = data_view.to_date.strftime('%b %Y')

        = link_to('change', edit_browse_path(data_view.user_selections.params))

      - data_view.each_statistic do |stat|
        %label
          - checked = data_view.statistic_selected?(stat)
          %input{ type: 'checkbox', value: stat.slug, readonly: true, checked: checked }
          %a{ href: data_view.add_remove_statistic(!checked, stat) }
            = t(stat.label_key)

    .o-data-view__data-table
      - table_data = data_view.as_table_data
      %table
        %thead
          %tr
            - table_data[:columns].each do |col|
              %th{ scope: 'col' }
                = col[:label]
        %tbody
          - table_data[:data].each do |row|
            %tr
              - row.each do |datum|
                %td
                  = datum
