-# Partial for drawing the main presentation of a data view
- visible = data_view.visible?
- node_id = data_view.node_id.to_s

%section.o-data-view{ class: visible ? 'o-data-view--open' : 'o-data-view--closed', id: node_id }
  %header
    %h2.o-heading--3
      = data_view.title
      - href = data_view.add_remove_theme_link(!visible)
      - visibility_action = t("action.#{visible ? 'hide' : 'reveal'}")
      %a.o-data-view__hide-action{ href: "#{href}\##{node_id}", class: visibility_action }
        = visibility_action

  - if visible
    .o-data-view__options.u-js-hidden
      = t('preposition.for').titlecase
      = succeed ',' do
        = data_view.selected_location_label

      = data_view.from_date.strftime('%b %Y')
      = t('preposition.to')
      = data_view.to_date.strftime('%b %Y')

      = link_to(t('action.change'), edit_browse_path(data_view.user_selections.params))

      %br
      %span.o-data-view__options-statistics
        - data_view.each_statistic do |stat|
          %label
            - checked = data_view.statistic_selected?(stat)
            %input{ type: 'checkbox', value: stat.slug, checked: checked }
            %a{ href: data_view.add_remove_statistic(!checked, stat) }
              = stat.label

    .o-data-view__data-table.u-js-hidden
      - table_data = data_view.as_table_data
      %table
        %thead
          %tr
            - table_data[:columns].each do |col|
              %th{ scope: 'col' }
                = col[:label]
        %tbody
          - table_data[:data].each do |row|
            %tr{ class: cycle('u-row-odd', 'u-row-even') }
              - row.each_with_index do |datum, i|
                - if i.zero?
                  %td
                    = ValueFormatter.month_year(datum)
                - else
                  %td
                    = ValueFormatter.format(datum, slug: data_view.indicator.label)

  .o-data-view__vue-root.u-js-only{ data: data_view.as_js_attributes }
