-# Partial for drawing the main presentation of a data view
- visible = data_view.visible?
%section.o-data-view
  %header
    %h3.o-heading--3
      = data_view.title
      %a{ href: data_view.add_remove_theme_link(!visible) }
        = visible ? 'hide' : 'reveal'

  - if visible
    .o-data-view__heading-group

      %p.o-heading--4.o-data-view__location
        For
        = data_view.selected_location_label

      %p.o-heading--4.o-data-view__date
        = data_view.from_date.strftime('%b %Y')
        to
        = data_view.to_date.strftime('%b %Y')

      - data_view.each_statistic do |stat|
        %label
          - checked = data_view.statistic_selected?(stat)
          %input{ type: 'checkbox', value: stat.slug, readonly: true, checked: checked }
          %a{ href: data_view.add_remove_statistic(!checked, stat) }
            = t(stat.label_key)
