%p
  = label_tag(:'location-type', 'Location type')
  = select_tag(:'location-type', options_for_select(view_state.location_type_options))

%p
  = label_tag(:'location-term', 'Search for a location')
  = text_field_tag(:'location-term')

  %button{ type: 'submit', value: 'search', name: 'form-action' }
    Search

%h3.o-heading--3 Dates

%p
  = label_tag(:from, 'From:')
  = date_field_tag(:from, view_state.user_selections.from_date)

%p
  = label_tag(:to, 'To:')
  = date_field_tag(:to, view_state.user_selections.to_date)

%h3.o-heading--3 Displayed indicators

%p
  You can select which of the UKHPI statistics are visible on the browse page.

%h4.o-heading--4 Themes

%ul
  - view_state.data_cube.each_theme do |_key, theme|
    %li
      - id = "theme-#{theme.slug}"
      - checked = view_state.selected_theme?(theme)
      = label_tag(:'thm[]', for: :id) do
        = check_box_tag(:'thm[]', theme.slug, checked, id: id)
        = t(theme.slug)

%h4.o-heading--4 Statistics

%ul
  - view_state.data_cube.each_theme do |theme_key, theme|
    %li
      = t(theme_key)
    - theme.statistics.each do |statistic|
      %li
        - id = "statistic-#{statistic.slug}"
        - checked = view_state.selected_param?(:statistic, statistic.slug)
        = label_tag(:'st[]', for: id) do
          = check_box_tag(:'st[]', statistic.slug, checked, id: id)
          = t(statistic.label_key)

%h4.o-heading--4 Indicator

%ul
  - view_state.data_cube.indicators.each do |indicator|
    %li
      - id = "indicator-#{indicator.slug}"
      - checked = view_state.selected_param?(:indicator, indicator.slug)
      = label_tag(:'indicator[]', for: id) do
        = check_box_tag(:'indicator[]', indicator.slug, checked, id: id)
        = t(indicator.label_key)

%p
  %button{ type: 'submit', value: 'view', name: 'form-action' }
    Show result
