%h2.o-heading--2 Change your selections

%p
  Use this page to change the UKHPI statistics that are displayed on the main
  browse page.

= form_tag(edit_browse_path, method: :get) do

  %h3.o-heading--3 Location

  - if @view_state.selected_location
    %p
      The currently selected location is:
      = succeed '.' do
        %strong
          = @view_state.selected_location_label
      To select another location, search for the location name below.

  - if @view_state.matched_locations
    = render partial: 'matching_locations', locals: { view_state: @view_state }

  - else
    = render partial: 'user_selections_controls', locals: { view_state: @view_state }
