%h2.o-heading--2
  = t('browse.edit.heading')

%p
  = t('browse.edit.prompt')

= form_tag(edit_browse_path, method: :get) do

  %h3.o-heading--3
    = t('browse.edit.location_heading')

  - if @view_state.selected_location
    %p
      = t('browse.edit.currently_selected')
      = succeed '.' do
        %strong
          = @view_state.selected_location_label
      = t('browse.edit.select_other')

  - if @view_state.matched_locations
    = render partial: 'matching_locations', locals: { view_state: @view_state }

  - else
    = render partial: 'user_selections_controls', locals: { view_state: @view_state }
