.grid-row
  .column-full
    %article
      %p
        Quick links:
        %a{ href: '#property_type' } <i class='fa fa-caret-right'></i> by property type
        %a{ href: '#buyer_status' } <i class='fa fa-caret-right'></i> by buyer status
        %a{ href: '#funding_status' } <i class='fa fa-caret-right'></i> by funding status
        %a{ href: '#property_status' } <i class='fa fa-caret-right'></i> by property status
        %a{ href: '#volume' } <i class='fa fa-caret-right'></i> by sales volume

      %h1.o-heading--2
        = t('index.main_heading')

      #application
        %router-view

      - @view_state.each_theme_with_views do |theme, data_views|
        .o-ukhpi-theme
          %h2.o-heading--3{ id: theme.slug }
            = t(theme.slug)
          %p.o-ukhpi-theme__intro.u-muted
            = t("intro.#{theme.slug}")
          - data_views.each do |data_view|
            = render partial: 'data_view', locals: { data_view: data_view }
