%h1.heading-large Data Cysylltiedig Mynegai Prisiau Tai y DU

%h2.heading-medium
  Beth sydd wedi ei gynnwys yn Set Ddata’r Mynegai Prisiau Tai?

%p
  Mae Mynegai Prisiau Tai y DU yn cofnodi newidiadau yng ngwerth eiddo preswyl.
%p
  Mae Mynegai Prisiau Tai y DU yn defnyddio data gwerthiannau a gesglir ar drafodion tai preswyl, boed am arian parod neu gyda morgais. Mae eiddo wedi cael ei gynnwys:
%ul.list.list-bullet
  %li yng Nghymru a Lloegr er Ionawr 1995,
  %li yn yr Alban er Ionawr 2004 ac
  %li yng Ngogledd Iwerddon er Ionawr 2005.

%p
  Mae data ar gael ar lefel genedlaethol a rhanbarthol, yn ogystal ag ar lefel
  sir, awdurdod lleol a bwrdeistref Llundain.

%p
  Mae set ddata Mynegai Prisiau Tai y DU yn cynnwys gwybodaeth am dros 441 o ardaloedd
  yng Nghymru, Lloegr, yr Alban a Gogledd Iwerddon. Sylwer nad ydym yn cyhoeddi
  gwybodaeth Mynegai Prisiau Tai ar gyfer Ynysoedd Scilly oherwydd ei nifer isel
  o werthiannau misol.
%p
  Ar gyfer pob ardal, rydym yn cyhoeddi ffigur
  %em Mynegai Prisiau Tai
  y DU. Cafodd hwn ei osod ar sylfaen o 100 yn Ionawr 2015, ac mae’n adlewyrchu’r newid
  yng ngwerth eiddo preswyl ers hynny. Mae gennym ffigurau hefyd ar gyfer pris cyfartalog
  yr holl eiddo mewn ardal, ar gyfer pob un o’r pedwar math o eiddo, nifer y gwerthiannau,
  a’r newid canrannol ers y mis blaenorol a’r flwyddyn flaenorol. Sylwer nad yw data nifer
  y gwerthiannau ar gael ar gyfer y ddau fis mwyaf diweddar.
  I gael rhagor o wybodaeth am Fynegai Prisiau Tai y DU, gan gynnwys pam nad yw rhai mathau
  o ddata ar gael ar gyfer y misoedd diwethaf, darllenwch am Fynegai Prisiau Tai y DU neu
  defnyddiwch y cysylltau uniongyrchol isod:

%ul.list.list-bullet
  %li
    = link_to('Cyfrifo Mynegai Prisiau Tai y DU', 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/4437849#cyfrifo-mynegai-prisiau-tai-y-du')
  %li
    = link_to('Diwygiadau i ddata Mynegai Prisiau Tai y DU', 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/4437849#diwygio-misol')
  %li
    = link_to('Y gwahaniaeth rhwng Mynegai Prisiau Tai y DU a mynegeion eraill', 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/4437849#y-gwahaniaeth-rhwng-mynegai-prisiau-tai-y-du-a-mynegeion-eraill')
  %li
    = link_to('Chwilio Mynegai Prisiau Tai y DU', 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/4437849#chwilio-mynegai-prisiau-tai-y-du')
  %li
    = link_to('Calendr dyddiadau cyhoeddi', 'https://www.gov.uk/government/publications/about-the-uk-house-price-index/4437849#calendr-dyddiadau-rhyddhau')

%p
  Ym Mehefin 2016, mae set ddata data cysylltiedig Mynegai Prisiau Tai y DU yn cynnwys
  oddeutu pedair miliwn tripled ar gyfer 441 o ranbarthau yng Nghymru, Lloegr, yr Alban
  a Gogledd Iwerddon. Mae’r stôr driphlyg yn cael ei diweddaru bob mis gyda data o’r mis
  cyfredol a diweddariad o ddata’r ddau fis blaenorol.
%p
  Mae’r fersiwn data cysylltiedig o set ddata Mynegai Prisiau Tai y DU yn cael ei
  gynhyrchu o’r ffeiliau cyhoeddedig ac yn cynnwys gwybodaeth ychwanegol i ddisgrifio
  pob un o’r rhanbarthau yr adroddir arnynt; mae’r wybodaeth hon yn cynnwys cysylltau
  â setiau data cysylltiedig a gyhoeddwyd gan yr
  = link_to('Arolwg Ordnans', "http://data.ordnancesurvey.co.uk/")
  a’r
  = link_to('https://cy.ons.gov.uk/') do
    = succeed "." do
      Swyddfa Ystadegau Gwladol
%p
  Sylwer bod cysylltau â ffynonellau eraill o ddata cysylltiedig, agored wedi eu
  darparu o dan y
  = link_to('Drwydded Llywodraeth Agored' , 'https://www.nationalarchives.gov.uk/doc/open-government-licence-cymraeg/version/3/')
  (data’r Swyddfa Ystadegau Gwladol) a’r
  = link_to('Drwydded Data Agored', 'http://www.ordnancesurvey.co.uk/docs/licences/os-opendata-licence.pdf')
  (data’r Arolwg Ordnans). Nid yw Cofrestrfa Tir EM yn gyfrifol am gynnwys neu
  ddibynadwyedd unrhyw wefannau cysylltiedig.

%h2.heading-medium Sut caiff Set Ddata’r Mynegai Prisiau Tai ei chyhoeddi?
%p
  Mae set ddata Mynegai Prisiau Tai y DU ar gael ar sawl ffurf gan Gofrestrfa Tir EM:
%ul.list.list-bullet
  %li
    yn rhyngweithiol, gan ddefnyddio’r
    = link_to('/app/ukhpi', 'aria-label' => 'Explore the UK house price index') do
      = succeed "." do
        teclyn Chwilio Mynegai Prisiau Tai y DU
    Mae’r teclyn hwn hefyd yn cynnwys opsiynau i lawrlwytho mewn CSV neu Turtle
    a chynhyrchu ffeiliau i’w lawrlwytho o ymholiadau SPARQL mewn JSON, XML,
    testun plaen neu fel tabl
  %li
    i’w lawrlwytho ar
    = link_to('https://www.gov.uk/guidance/uk-house-price-index') do
      = succeed '.' do
        ffurf CSV neu fel Taflen Waith Excel

%p
  Mae set ddata Mynegai Prisiau Tai y DU hefyd ar gael yn llawn fel set ddata
  gysylltiedig 5* sy’n rhad ac am ddim i’w defnyddio o dan delerau’r
  Drwydded Llywodraeth Agored.

%h2.heading-medium Trosolwg o Ddata Cysylltiedig
%p
  Bob mis, caiff data Mynegai Prisiau Tai y DU ei ddiweddaru ar gyfer pob rhan o
  Brydain Fawr; ceir prisiad misol ar gyfer data Gogledd Iwerddon sy’n cael ei
  ddiweddaru bob chwarter. Mae data Mynegai Prisiau Tai y DU yn cael ei newid
  i ffurf data cysylltiedig ac mae hyn yn cymryd lle’r graff a enwyd yn flaenorol
  yn y stôr driphlyg; caiff graffiau eu henwi UKHPI-bbbb-mm. Mae’r broses hon
  yn rhedeg ochr yn ochr â chyhoeddiad arferol Mynegai Prisiau Tai y DU. Mae
  dyddiadau cyhoeddi ar gael ar yr amserlen Cyhoeddi.

%h3.heading-small Geirfâu
%p
  Mae cyhoeddi Set Ddata’r Mynegai Prisiau Tai fel
  = link_to('data cysylltiedig', 'http://linkeddata.org/')
  yn golygu bod angen creu geirfâu
  = link_to('RDFS', 'http://www.w3.org/TR/rdf-schema/')
  neu
  = link_to('OWL', 'http://www.w3.org/TR/owl2-overview/')
  ailddefnyddiadwy, un eirfa Cofrestrfa Tir EM a dwy eirfa’r Arolwg
  Ordnans. Yn ogystal, caiff y data ei encryptio fel
  = succeed "." do
    = link_to('ciwb data RDF', 'http://www.w3.org/TR/vocab-data-cube/')

%dl.list
  %dt
    = link_to('Ciwb Data', 'http://purl.org/linked-data/cube')
  %dd{ style: "margin-left: 1.5em; margin-bottom: 0.5em" }
    Argymhelliad gan W3C ar gyfer cynrychioli setiau o ddata ystadegol
    aml-ddimensiwn mewn RDF fel hypergiwb.
  %dt
  = link_to('Mynegai Prisiau Tai Cofrestrfa Tir EM', 'http://landregistry.data.gov.uk/def/hpi')
  %dd{ style: "margin-left: 1.5em; margin-bottom: 0.5em" }
    Defnyddir geirfa Mynegai Prisiau Tai Cofrestrfa Tir EM i ddisgrifio’r
    Set Ddata Mynegai Prisiau Tai a gynhyrchir bob mis. Mae’r eirfa yn
    cynnwys termau a ddefnyddir gan  Gofrestrfa Tir EM i ddisgrifio pethau
    a ddefnyddir o fewn set ddata’r Mynegai Prisiau Tai.
  %dt
    = link_to('Cysylltiadau Gofodol yr Arolwg Ordnans', 'http://landregistry.data.gov.uk/def/hpi')
  %dd{ style: "margin-left: 1.5em; margin-bottom: 0.5em" }
    Defnyddir yr eirfa Arolwg Ordnans hon i ddisgrifio cysylltiadau
    gofodol sylfaenol.
  %dt
    = link_to('OS Admingeo', 'http://data.ordnancesurvey.co.uk/ontology/admingeo/')
  %dd{ style: "margin-left: 1.5em; margin-bottom: 0.5em" }
    Defnyddir yr eirfa Arolwg Ordnans hon i ddisgrifio daearyddiaeth
    ardal weinyddol ac ardal bleidleisio Prydain Fawr.

%h3.heading-small Data Mynegai Prisiau Tai y DU
%p
  Caiff data Mynegai Prisiau Tai y DU ei storio fel graff a enwir mewn
  ciwb data gyda dau ddimensiwn ac amrywiaeth o fesurau. Mae’r ffeil
  = link_to('Diffiniad Strwythur Data', controller: :doc, action: :ukhpi_dsd)
  yn diffinio’r strwythur hwn, a gellir ei defnyddio gan ddefnyddwyr
  data a rhaglenni i ddeall sut y caiff y data ei strwythuro.

%h2.heading-medium Teclyn adrodd Mynegai Prisiau Tai y DU
%p
  Y
  = link_to('teclyn adrodd', '/app/ukhpi', 'aria-label' => 'Explore the UK house price index')
  yw’r ffordd hawsaf i ymholi set data Mynegai Prisiau Tai y DU. Mae’n cynnig
  dull hawdd o greu ymholiadau trwy ddefnyddio ffurflen a gall canlyniadau gael
  eu lawrlwytho ar ffurfiau amrywiol. Gellir defnyddio’r lluniwr adroddiadau
  hefyd i gynhyrchu ymholiadau SPARQL y gellir eu diwygio a’u hail-redeg
  fel y bo angen.
%p
  Sylwer wrth ddewis yr opsiwn CSV ar gyfer data wedi ei lawrlwytho, dim ond
  yr eitemau data a ddangosir yn y canlyniad ar y sgrin gaiff eu cynnwys yn
  y CSV. Ar gyfer lawrlwythiadau Turtle, caiff yr holl eitemau data eu cynnwys
  yn ogystal â’r canlyniad o’r ymholiad SPARQL os caiff ei ail-redeg.

%h2.heading-medium SPARQL
%p
  Ochr yn ochr â’r lluniwr adroddiadau, rydym wedi creu
  = link_to('tudalen ymholiad SPARQL', '/app/qonsole')
  y gallwch ei defnyddio i roi cynnig ar rai ymholiadau SPARQL enghreifftiol
  neu i greu ymholiad eich hunain.
%p
  Rydym wedi gwneud pwynt terfyn SPARQL ar gael hefyd. Gallwch ddefnyddio’r
  cyfeiriad URL canlynol yn eich sgriptiau, cymwysiadau ac offer ymholi
  SPARQL eich hunain:
%pre.code
  http://landregistry.data.gov.uk/landregistry/query

%h2.heading-medium Trwy’r Rhyngwyneb Rhaglennu Cymwysiadau (API)
%p
  Mae modd ymholi set ddata Mynegai Prisiau Tai y DU yn uniongyrchol trwy’r
  rhyngwyneb rhaglennu cymwysiadau. Mae hwn yn dileu i raddau helaeth yr
  angen i wybod sut i ddefnyddio SPARQL ar yr amod eich bod yn gwybod
  strwythur y data. Gan ddefnyddio’r trafodiad enghreifftiol uchod, rydym
  yn gwybod bod data ar gael ar gyfer Gogledd Ddwyrain Lloegr. Gyda’r
  wybodaeth honno, gallwn nodi’r URL mewn porwr gwe
%pre.code
  = link_to('/data/ukhpi/region/north-east', 'http://landregistry.data.gov.uk/data/ukhpi/region/north-east')

%p
  Sylwer bydd yr ymholiad hwn yn dychwelyd yr holl ddata ar gyfer y
  rhanbarth hwnnw o’r mis presennol yn ôl i Ionawr 1995. Oherwydd
  nad yw Cofrestrfa Tir EM yn cyhoeddi Nifer y Gwerthiannau gyda’r un
  amlder â data arall, ni fydd unrhyw ffigur Nifer y Gwerthiannau ar
  gyfer y ddau fis a ddangosir. Caiff cyfrifiad o’r canlyniadau a
  gynhyrchir ar gyfer yr ymholiad ei ddangos ar y sgrin yn ddiofyn.
%p
  Ceir opsiynau i gynhyrchu’r data a ddangosir i’w lawrlwytho ar ffurf
  arall, er enghraifft CSV, ond sylwer bydd y canlyniadau wedi eu cyfyngu
  i’r un nifer o ganlyniadau a ddangosir ar y sgrin.
%p
  Yn yr un modd, gall ardaloedd eraill gael eu hymholi. Yn yr enghraifft
  ganlynol, dangosir y ffigurau ar gyfer Cymru a Lloegr gyfan:
%pre.code
  = link_to('/data/ukhpi/region/england-and-wales', 'https://landregistry.data.gov.uk/data/ukhpi/region/england-and-wales')

%p
  Gellir estyn yr ymholiad i roi misoedd penodol:
%pre.code
  = link_to('/data/ukhpi/region/england-and-wales/month/2014-01', 'https://landregistry.data.gov.uk/data/ukhpi/region/england-and-wales/month/2014-01')

%p
  Mae hefyd modd dewis amrediadau a threfnu’r data a ddychwelwyd. Mae’r
  enghraifft ganlynol yn dychwelyd ffigurau ar gyfer Cymru a Lloegr lle
  mae’r newid misol rhwng 1% a 10%, wedi ei ddidoli yn ôl y cyfnod adrodd:
%pre.code
  = link_to('/data/ukhpi/region/england-and-wales?max-percentageChange=10&min-percentageChange=1&_page=0&_sort=refMonth', 'https://landregistry.data.gov.uk/data/ukhpi/region/england-and-wales?max-percentageChange=10&min-percentageChange=1&_page=0&_sort=refMonth')
%p
  Mae modd newid y canlyniadau a ddangosir trwy ddefnyddio’r botwm
  %code addasu eich chwiliad
  ar frig y dudalen ac mae’r hidlwyr ar y dudalen yn ei
  gwneud yn hawdd ichi drefnu neu hidlo’r canlyniadau.
