#cookie-banner.cookie-banner{ style: 'display: none' }
  %h2.cookie-banner__heading
    = I18n.t('common.cookie_banner.heading')
  %p
    = I18n.t('common.cookie_banner.details')
    = link_to(I18n.t('common.cookie_banner.privacy_notice'), "#{Rails.application.config.privacy_document_path}?lang=#{I18n.locale}")
  %button.cookie-banner__accept{ onclick: 'acceptCookie()' }
    = I18n.t('common.cookie_banner.accept')
  %button.cookie-banner__reject{ onclick: 'rejectCookie()' }
    = I18n.t('common.cookie_banner.reject')
