%footer#footer.footer.group.js-footer
  .container.o-container.footer-wrapper
    .footer-meta
      .footer-meta-inner
        %h2.o-footer--h2.hidden.u-print-hidden Support links
        %ul.list-inline
          %li
            %a{:href => "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"}
              &copy;
              = t('common.footer.crown_copyright')
              = Time.now.year
          %li.u-print-hidden
            %a{:href => t('common.footer.personal_info_url')}
              = t('common.footer.personal_info')
          %li.u-print-hidden
            %a{:href => "https://www.gov.uk/land-registry-public-data"}
              = t('common.footer.public_data')
          %li.u-print-hidden
            = link_to(t('common.footer.accessibility'),"#{Rails.application.config.accessibility_document_path}#{"?lang=#{I18n.locale}" if params[:lang].present?}")
          %li.u-print-hidden
            = link_to(t('common.footer.privacy'),"#{Rails.application.config.privacy_document_path}#{"?lang=#{I18n.locale}" if params[:lang].present?}")
        .ogl.open-government-licence
          %p.logo.u-print-hidden
            %a{href: t('common.footer.ogl_url'), rel:"license"}
              = t('common.footer.ogl')
          %p
            = t('common.footer.ogl_statement').html_safe
        .clearfix
        %p.u-muted--footer
          = t('common.footer.application_release')
          = Version::VERSION
    - if Rails.env.development?
      %pre
        [puma stats:
        = JSON.pretty_generate(JSON.parse(Puma.stats, symbolize_names: true))
        , time: #{Time.now}]
