%header.with-proposition.c-hmlr-header#global-header
  .header-wrapper
    .header-global
      .header-logo
        %a.content{ href: '/app/ukhpi', title: t('common.header.home_link') }
          = image_tag('ukhpi-icon.png', srcset: image_path('ukhpi-icon.svg'), alt: '')


    .header-proposition
      .content
        %a.js-header-toggle.menu{ href: '#proposition-links' } Menu
        %nav#proposition-menu
          %a#proposition-name{ href: '/app/ukhpi' }
            = t('common.header.app_title')

          %ul#proposition-links
            %li
              %a{ href: browse_path, class: active_class(browse_path) }
                = t('action.browse')
            %li
              %a{ href: compare_path, class: active_class(compare_path) }
                = t('action.compare_locations')
            %li
              %a{ href: '/app/qonsole' }
                = t('action.sparql')
            %li
              %a{ href: '/app/doc/ukhpi-user-guide' }
                = t('action.user_guide')
            %li
              %a{ href: '/app/doc/ukhpi' }
                = t('action.about')

.o-lr-top-bar

.container.o-container
  .o-secondary-banner
    .o-secondary-banner__phase-tag
      %strong.o-beta-tag
        = t('common.header.beta_tag')
      %span.text-muted
        = t('common.header.feedback_request').html_safe

    .o-secondary-banner__lang-select
      - if @view_state.user_selections.english?
        English
      - else
        = link_to('English', @view_state.user_selections.alternative_language_params.params)
      |
      - if @view_state.user_selections.welsh?
        Cymraeg
      - else
        = link_to('Cymraeg', @view_state.user_selections.alternative_language_params.params)
