!!! html
%html{ 'lang' => 'en', 'xml:lang' => 'en', 'xmlns' => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title
      = (yield(:title) + " - " unless yield(:title).blank?).to_s + I18n.t('common.header.app_title')
    - if Rails.env.production?
      = render partial: 'common/google-analytics'
      = javascript_include_tag 'cookie', defer: true
      = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = render partial: 'common/favicons'

    - if @preferences
      %link{ rel: 'canonical', href: '//#{request.host_with_port}#{@preferences.as_path(:view)}' }

    %link{ rel:'license', href: 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3' }

    /[if lt IE 9]
      :javascript
        window.isIE8 = true;

  %body.government.website.hmlr
    = render partial: 'common/cookie_banner' if Rails.env.production?
    = render partial: 'common/skip_to_main_content'
    = render partial: 'common/header'
    = render partial: 'common/flash_message'

    %main#main-content.container.o-container
      .row
        .col-md-12
          = yield

      .row
        .o-feedback
          %p.text-muted
            = t('common.header.feedback_request').html_safe


    = render partial: 'common/footer'
    = render partial: 'common/puma_stats' if Rails.env.development?
