!!! html
%html{ 'lang' => 'en', 'xml:lang' => 'en', 'xmlns' => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title
      = I18n.t('common.header.app_title')
    - if Rails.env.production?
      = render partial: 'common/google-analytics'
      = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = render partial: 'common/favicons'

    - if @preferences
      %link{ rel: 'canonical', href: '//#{request.host_with_port}#{@preferences.as_path(:view)}' }

    %link{ rel:'license', href: 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3' }

    /[if lt IE 9]
      :javascript
        window.isIE8 = true;

  %body.government.website.hmlr

    %header.with-proposition.c-hmlr-header#global-header
      .header-wrapper
        .header-global
          .header-logo
            %a.content{ href: "#{Rails.application.config.relative_url_root}", title: t('common.header.home_link') }
              = image_tag('ukhpi-icon.png', srcset: image_path('ukhpi-icon.svg'), alt: 'UKHPI Logo')
        .header-proposition
          .content
            %nav#proposition-menu
              %a#proposition-name{ href: '/app/ukhpi' }
                %strong
                  = I18n.t('common.header.app_title')

    .o-lr-top-bar

    = render partial: 'common/flash_message'

    %main
      = yield

    = render partial: 'common/footer'
