!!! html
%html{ 'lang' => 'en', 'xml:lang' => 'en', 'xmlns' => 'http://www.w3.org/1999/xhtml' }
  %head
    %title UK House Price Index
    %meta{ charset: 'utf-8' }
    :javascript
      document.querySelector('html').classList.add('js');

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render partial: 'common/favicons'

    - if @preferences
      %link{ rel: 'canonical', href: "//#{request.host_with_port}#{@preferences.as_path(:view)}" }

    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
      = javascript_include_tag '//cdn.jsdelivr.net/es5.shim/4.5.7/es5-shim.js'
      = javascript_include_tag '//cdn.jsdelivr.net/es5.shim/4.5.7/es5-sham.js'
      = javascript_include_tag '//cdn.jsdelivr.net/lodash/4.9.0/lodash.js'
      :javascript
        window.isIE8 = true;

    <!--[if gt IE 8]><!-->
    = javascript_include_tag :d3
    <!--<![endif]-->

    = javascript_include_tag 'application'
    = javascript_pack_tag 'hello_vue'

  %body.government.website.lr.ppd-standard-report
    = render partial: 'common/header'
    = render partial: 'common/flash_message'

    %main.container.o-container{ role: 'main' }
      .row
        .col-md-12
          = yield

    = render partial: 'common/footer'
    = render partial: 'common/google-analytics'
