!!! html
%html{ 'lang' => 'en', 'xml:lang' => 'en', 'xmlns' => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title UK House Price Index
    :javascript
      document.querySelector('html').classList.add('js');

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render partial: 'common/favicons'

    - if @preferences
      %link{ rel: 'canonical', href: "//#{request.host_with_port}#{@preferences.as_path(:view)}" }

    %link{ rel:'license', href: 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3' }

    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
      = javascript_include_tag '//cdn.jsdelivr.net/es5.shim/4.5.7/es5-shim.js'
      = javascript_include_tag '//cdn.jsdelivr.net/es5.shim/4.5.7/es5-sham.js'
      = javascript_include_tag '//cdn.jsdelivr.net/lodash/4.9.0/lodash.js'
      :javascript
        window.isIE8 = true;

    = javascript_pack_tag 'ukhpi_vue'

  %body.government.website.lr
    = render partial: 'common/header'
    = render partial: 'common/flash_message'

    %main.container.o-container
      = yield

    = render partial: 'common/footer'
    = render partial: 'common/google-analytics'
